 :root {
  --main-bk: #939393;
  --tile-bk: #343435;
  --tile-head: #4b4b4b;
  --font: #e6e6e6;
  --accent: #084887;
  --marginAmount: 10px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  background-color: var(--main-bk);
  color: var(--font);
  width: 100vw;
  height: 100vh;
  margin: auto;
}

/* Page Grid */
.page-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 7% 1fr 1fr 5%;
  grid-gap: 0px;
  grid-template-areas:
    'header data-btn'
    'info-input population'
    'map table'
    'map graph'
    'footer footer';
}

.tile {
  background-color: var(--tile-bk);
  text-align: center;
  margin-top: var(--marginAmount);
  margin-left: var(--marginAmount);
  align-items: center;
  justify-items: center;
}

.margin-right {
  margin-right: var(--marginAmount);
}

/* Header */
header {
  grid-column: 1 / 2;
}

/* Title */
header > h2 {
  font-weight: 700;
  font-size: 2em;
}

header > p {
  font-weight: 300;
  font-size: 1em;
}

/* Data Btn */
.data {
  grid-area: data-btn;
  display: flex;
  justify-content: center;
}

.data > button {
  ;
}

/* Map Controls */
.info-input {
  grid-area: info-input;
  align-content: center;
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 1fr;
  grid-template-areas:
    'label1 input year';
}

/* Title */
.label-heatmap {
  font-size: 1.5em;
  font-weight: 400;
  grid-area: label1;
}

/* Year */
.info-input > p {
  font-size: 1.5em;
  font-weight: 400;
}

.selected-year {
  font-size: 1.25em;
  font-weight: 400;
}

input {
  grid-area: input;
}

.info-year {
  grid-area: year;
}
/* End of map controls */

/* Map*/
.map {
  grid-area: map;
}

/* Side Bar */
.texas-info {
  grid-area: population;
  display: flex;
  justify-content: center;
}

.texas-info > p {
  font-size: 1.5em;
  font-weight: 400;
}

.county-info {
  grid-area: table;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'table';
}

.county-info > h3 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 10px;
}

.county-data-table{
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    'year pop'
    'year0 pop0'
    'year1 pop1'
    'year2 pop2'
    'year3 pop3'
    'year4 pop4'
    'year5 pop5'
    'year6 pop6';
}

.table-heading {
  font-size: 1.5em;
  font-weight: 300;
}

.table-data {
  font-size: 1em;
  font-weight: 300;
}

/* Line Graph */
.graph {
  grid-area: graph;
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    'header'
    'graph';
}

.graph > h3 {
  grid-area: header;
}

.graph > line-chart {
  grid-area: graph;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  margin-bottom: var(--marginAmount);
}

footer > p {
  font-size: 1em;
  font-weight: 400;
}
/* End of layout styles */

.hidden {
  display: none;
}

.line-chart {
  stroke: var(--font);
  fill: none;
  stroke-width: .5px;
}

path {
  stroke: var(--font);
  stroke-width: 0.50px;
}

.x-axis path, .y-axis path {
  stroke: var(--font);
  stroke-width: 1px;
}

/* Tooltip Styles */
.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: red;
  border: 8px solid red;
  border-radius: 8px;
  padding: 15px;
}

.tooltip p {
  margin: 0;
}

.tooltip:before {
  content: ' ';
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: red;
  top: -30px;
  left: 50%;
  margin-left: -6px;
}
